{#розширюєм base.html #}
{% extends "base.html" %}
{#load static - не наслідується, потрібно в кожному файлі #}
{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'deps/css/main.css' %}">
   {% compress css %}
      <link rel="stylesheet" href="{% static 'deps/scss/main.scss' %}">
   {% endcompress %}
   <title>{{ title }}</title>
</head>
<body>

{#==== content =====#}
{% block content %}
<p>{{ content }}</p>
<span>{{ list.0 }}</span>
<br>
<span>{{ dict.first }}</span>
{% if is_auth %}
   <br>
   {{ user_name }}
{% endif %}
<img class="mx-1" src="{% static "deps/images/baseavatar.jpg" %}" alt="Catalog Icon">
{% endblock %}
{#==== end content =====#}

</body>
</html>