{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'deps/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'deps/css/test.scss' %}">
   <title>{{ title }}</title>
</head>
<body>
<p>{{ content }}</p>
<span>{{ list.0 }}</span>
<br>
<span>{{ dict.first }}</span>
{% if is_auth %}
   <br>
   {{ user_name }}
{% endif %}
<img class="mx-1" src="{% static "deps/images/baseavatar.jpg" %}" alt="Catalog Icon">
</body>
</html>